# Git ignore for pytjon
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
venv/
*.swp
*.swo
*.swn
*.swm
*.swl

dist
neostructure.egg-info
neostructure/markdowns/jsons/links.json
neostructure/markdowns/jsons/enhancements.json
neostructure/markdowns/mds/links.md
